body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
#top-banner{
    padding: 100px 80px 150px 80px;
}
.display-flex{
    display: flex;
    padding: 40px 80px;
    justify-self: center;
    align-items: center;
}
.top-banner-img-box img{
    width: 60%;
    margin-left: 20%;
}
.title-1{
    font-size: 45px;
    font-weight: 600;
    font-weight: bold;
    color: #575757;
    text-transform: capitalize;
}
.title-2{
    font-size: 35px;
    color: #575757;
    text-transform: capitalize;
}
.title-3{
    text-align: center;
    font-size: 25px;
    color: #777;
    text-transform: capitalize;
}
.recipie-title{
    font-size: 20px;
}
.highlight-text{
    color: #FB8D48;
}
.subtitle{
    color: #8C8C8C;
}
.small-subtitle{
    text-align: center;
    font-size: 14px;
}
.desc{
    font-size: 14px;
}
.btn{
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to right, #FB934A,#FD4D2F);
    padding: 12px 30px;
    border-radius: 25px;
    text-transform: capitalize;
    margin-top: 30px;
    display: inline-block;
}

#about-me{
    background-image: url(images/about-me-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
    background-size: cover;
    background-position: center center;
}

.about-me-img-box img{
    width: 40%;
    margin-left: 30%;
    margin-bottom: -46px;
}

.recipies-box-item{
    width: 29.3%;
    box-shadow: 0 0 15px rgba(119, 119, 119, 0.377);
    margin: 2%;
    padding: 20px;
    border-radius: 20px;
}
.recipies-box-item img{
    width: 100%;
}
.recipies-box-items{
    margin: 0 30px;
}
.recipies-title-box{
    width: 60%;
    margin-left: 20%;
}
#footer h3.title-3{
    text-transform: uppercase;
}
#footer{
    background-color: #000;
    padding: 6px 0px 60px 0px;
    margin-top: 10px;
}
.footer-desc{
    color: white;
    font-size: 12px;
    text-align: center;
}